html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header Css */

.header {
  background-color: black;
}

#headerline {
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  width: 960px;
  margin: auto;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header span {
  font-family: Helvetica;
  font-size: 1rem;
}
/* motor pic div css */

.motor {
  background-image: url(../images/moto.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  margin: auto 0;
}

.textintheimg {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.textintheimg h5 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;

}

.textintheimg h2 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

/* nav menu css */

nav {
  background-color: firebrick;
}

 nav ul {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;
}

/* middle box css */

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  border: black 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
}

.product-image img {
  max-width: 8rem;
}

.product span {
  background-color: black;
  text-align: center;
  padding: 0.5rem;
  display: block;
}

/* info css */

.infocontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.info {
  width: 35%;
}

.topline {
  background-color: black;
  display: block;
  padding: 1rem 2rem;
  color: white;
}

.infodetails {
  color: black;
}

/* footer css */

footer {
  background-color: black;
  padding: 5rem 0;
  align-items: center;
  margin-top: 4rem;
  }


/* Responsive Design */

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {

  #headerline {
    width: 100%;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  .textintheimg{
    width: 18rem;
  }

  nav ul {
    display: none;
  }

  .container {
    width: 100%;
  }

  .product {
    width: 47%
  }

  .product.glasses {
    display: none;
  }

  .info {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  .motor {
    height: 15rem;
  }

  .textintheimg {
    background-color: black;
    padding: 1rem 2rem;
    position: relative;
    top: 10rem;
  }

  .textintheimg h5 {
    font-family: Helvetica;
    font-size: 0.77rem;
    font-weight: bold;
    padding-bottom: 0.25rem;

  }

  .textintheimg h2 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
  }

  .product {
    width: 90%;
    margin: auto;
  }
  .product.watch {
    display: none;
  }

  .info {
    width: 90%;
    margin-top: 0.5rem;
  }
  .infocontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    text-align: center;
  }
}
